.admin-pie-chart {
  width: 50%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.admin-pie-chart .admin-chart-header {
  margin-bottom: 15px;
}

.admin-pie-chart .admin-chart-header h3 {
  font-size: 1rem;
  color: var(--admin-text-primary);
  font-weight: 600;
}
